<div class="card">
  <img width="20%" [src]="productItem.imageUrl" />

  <div class="card-body">
    <p class="card-text">
      <strong>{{ productItem.price | currency:'INR' }}</strong>
    </p>
    <p class="card-text">{{ productItem.description }}</p>
    <div>
      <div>
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
